/* Add your CSS to this file */

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}


body {
    margin: 0;
    font-size: 16px;

}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.container h1 {
    text-align: left;
    padding: 20px 0;
    ;
}

header {
    background-color: white;
    font-size: 18px;
}

header h1 {
    font-size: 18px;
}

header .container {
    display: flex;
}

header nav {
    margin-left: auto;
    align-self: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap : 20px;
}

header nav a {
    text-decoration: none;
    color: #6b7280;
}

header nav a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 40px;
}


.overview-hero-image {
    float: left;
    margin-right: 20px;;
}

.overview-hero-image img {
    height: 200px;
}

.learn-about {
    padding: 40px 0;
}

.learn-about .cards {
    display: flex;
    gap: 20px;
}

.learn-about .card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    width: 25%;
}

.learn-about .card h3 {
    font-size: 21px;
    color: #48BB78;
    margin: 10px 0;
}

.card img {
    height: 150px;
}

.learn-about h2 {
    color: #48BB78;
    font-size: 24px;
}

.testing {
    background-color: #4A5568;
    padding: 40px 0;
    color: white;
}

.testing .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    height: 200px;
}

.testing .cta{
    background-color: #48BB78;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.testing .cta a {
    color: white;
    text-decoration: none;
}

.stories {
    padding: 80px 0;
}
.stories .container h2 {
    color: #5A67D8;
}

.stories article h3 {
    font-size: 18px;
}

.stories img {
    border-radius: 50%;
    object-fit: cover;
}

article {
    display: flex;
    gap: 60px;
    margin-bottom: 30px;
}

article a {
    text-decoration: none;
    font-weight: bold;
    color: #5A67D8;
}

article img {
    height: 200px;
    width: 200px;
}

.newsletter {
    background-color: #48BB78;
    padding: 50px 0px;
    color: white;
    text-align: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.newsletter button {
    padding: 12px 28px;
    border: none;
    border-radius: 5px;
    background-color: #5A67D8;
    color: white;
    cursor: pointer;
}

.form-group {
    display: inline;
    justify-content: center;
}

footer {
    background-color: #4A5568;
    color: white;
    text-align: center;
    padding: 20px 0;
}